<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kevin.com.firstline">

    <permission
        android:name="com.kevin.permission.broadcast_send_to_specified_target"
        android:protectionLevel="normal" />
    <uses-permission android:name="com.kevin.permission.broadcast_send_to_specified_target"/>
    
    <permission android:name="com.kevin.permission.broadcast_send_from_specified_source"
        android:protectionLevel="normal"/>
    <uses-permission android:name="com.kevin.permission.broadcast_send_from_specified_source"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootupReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".FruitsProvider"
            android:authorities="kevin.com.firstline.provider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>